# virtual environment
.venv/

# python cache
__pycache__/
.ipynb_checkpoints/

# MLflow runs
mlruns/

# MODEL FILES 
artifacts/*.pkl
artifacts/*.ubj
artifacts/*model*.json

# DO NOT IGNORE metrics and config
!artifacts/model_selection.json
!artifacts/xgboost_metrics.json
!artifacts/lr_metrics.json
!artifacts/date_limits.json
!artifacts/columns_list.json

# Only ignore heavy artifacts
artifacts/raw_data.csv
artifacts/train_data_gold.csv

# DVC cache 
.dvc/tmp/
.dvc/cache/

# VSCode settings 
.vscode/
